<%-include("partials/header")%>
    <h1>Edit Question</h1>
    <div class="questionBox">
        <form action="/questions/<%=question._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="Title">Title</label>
                <div>
                    <input class="form-control" type="text" name="q[title]" id="Title" value="<%=question.title%>" required="true" maxlength="60">
                </div>
            </div>
            <div class="form-group">
                <label for="Body">Body</label>
                <div>
                    <textarea class="form-control" name="q[body]" id="Body" rows="10" value="<%=question.body%>" required="true"><%=question.body%></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Course">Course</label>
                <div>
                    <input class="form-control" type="text" name="q[course]" id="Course" value="<%=question.course.name%>" required="true">
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-md" type="submit" value="Update Question">
            </div>
        </form>
        <a href="/questions">Cancel</a>
    </div>
<%-include("partials/footer")%>
