<%-include("partials/header")%>
    <div class="grid">
        <h1 class="headline"><%=course.name.toUpperCase()%> Questions</h1>
        <p class="ask-btn">
            <a class="btn btn-primary btn-md" href="/questions/ask">Ask a Question</a>
        </p>
    </div>
    <%course.questions.sort(function(a, b){return -(a.date.getTime() - b.date.getTime())}); %>
    <%course.questions.forEach(function(question){%>
        <div>
            <h4><a href="/questions/<%=question._id%>"><%=question.title%></a></h4>
            <div>
                <% if (question.body.length > 144){%>
                    <%=question.body.substring(0, 144) + "..."%>
                <%} else { %>
                    <%=question.body%>
                <%}%>
                <div class="grid">
                    <% var date = question.date; %>
                    <% var month = date.getUTCMonth() + 1; %>
                    <% var day = date.getUTCDate(); %>
                    <% var year = date.getUTCFullYear(); %>
                    <% var newDate = month + "/" + day + "/" + year; %>
                    <p class="rightAlign">Asked on <%=newDate%></p>
                </div>
                <hr>
            </div>
        </div>   
    <%});%>
    <a href="/">Go Home</a>
    
<%-include("partials/footer")%>
