<%-include("partials/header")%>
    <div class="grid">
        <% if(search){%>
            <h1 class="headline">Top Results</h1>
        <%} else {%>
            <h1 class="headline">Top Questions</h1>
        <%}%>
        <p class="ask-btn">
            <a class="btn btn-primary btn-md" href="/questions/ask">Ask a Question</a>
        </p>
    </div>
    <h3><%=total%> Questions</h3>
    <hr>
    <%questions.forEach(function(question){%>
        <div class="row">
            <div class="col-lg-1 grayFont">
                <h3><%=question.answers.length%></h3>
                <p>Answers</p>
            </div>
            <div class="col-lg-11">
                <h4><a href="/questions/<%=question._id%>"><%=question.title%></a></h4>
                <div>
                    <% if (question.body.length > 169){%>
                        <h5><%=question.body.substring(0, 169) + "..."%></h5>
                    <%} else { %>
                        <h5><%=question.body%></h5>
                    <%}%>
                    <div class="grid">
                        <% var name = question.course.name.replace(/\s+/g, '-').toLowerCase() %>
                        <a class="btn btn-primary btn-sm course" href="/courses/<%=name%>"><%=question.course.name%></a>
                        <% var date = new Date(question.date.getTime() - question.date.getTimezoneOffset() * 60000); %>
                        <% var month = date.getMonth() + 1; %>
                        <% var day = date.getDate(); %>
                        <% var year = date.getFullYear(); %>
                        <% var newDate = month + "/" + day + "/" + year; %>
                        <p class="rightAlign">Asked on <%=newDate%></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    <%});%>
    <a href="/">Go Home</a>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
            <% var maxPage = Math.ceil(total / pagination)%>
            <%if (search){%>
                <% if (page > 1){ %>
                    <a href="/search?page=<%=page - 1%>&q=<%=q%>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                <%}%> 
                </li>
                <li><a href="/search?page=1&q=<%=q%>">First</a></li>
                <li><a href="/search?page=<%=maxPage%>&q=<%=q%>">Last</a></li>
                
                <li>
                <% if(page < maxPage) { %>
                    <a href="/search?page=<%=page + 1%>&q=<%=q%>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                <%}%>
            <%} else {%>
                <% if (page > 1){ %>
                    <a href="/questions/?page=<%=page - 1%>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                <%}%> 
                </li>
                <li><a href="/questions/?page=1">First</a></li>
                <li><a href="/questions/?page=<%=maxPage%>">Last</a></li>
                
                <li>
                <% if(page < maxPage) { %>
                    <a href="/questions/?page=<%=page + 1%>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                <%}%>
            <%}%>
            </li>
        </ul>
    </nav>
    
<%-include("partials/footer")%>
