<%-include("partials/header")%>
<div class="indexContainer">
    <div class="row">
        <div class="col-lg-9">
            <div class="grid">
                <h1 class="headline"><%=question.title%></h1>
                <p class="ask-btn">
                    <a class="btn btn-primary btn-md" href="/questions/ask">Ask a Question</a>
                </p>
            </div>
    
            <p><%=question.body%></p>
            
            <form class="inline" action="/questions/<%=question._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>

            <a href="/questions/<%=question._id%>/edit"><button>Edit</button></a>
            <h4><%=question.answers.length%> Answers</h4>
            <hr>
        
            <%question.answers.forEach(function(answer){%>
                <p><%=answer.text%></p>
                <hr>
            <%});%>
            
            
            <form action="/questions/<%=question._id%>/answers" method="POST">
                <label for="Answer"><h4>Your Answer</h4></label>
                <div class="form-group">
                    <textarea class="form-control" name="answer" id="Answer" rows="10"></textarea>
                </div>
                <input class="btn btn-primary btn-md" type="submit" value="Post Answer">
            </form>
        </div>
    </div>
</div>




<%-include("partials/footer")%>