<%-include("partials/header")%>
<h1>Welcome <%=user.username%></h1>
<h3>Change Username</h3>
<form action="/users/<%=user._id%>/changeUsername" method="POST">
    <label for="Username">Username: </label>
    <input type="text" name="usernameChange" id="Username" value="<%=user.username%>">
    <input type="submit" value="Confirm Changes">
</form>
<hr>

<h3>Your Questions</h3>
<%questions.forEach(function(question){%>
    <div class="row">
        <div class="col-lg-1 grayFont">
            <h3><%=question.answers.length%></h3>
            <p>Answers</p>
        </div>
        <div class="col-lg-11">
            <h4><a href="/questions/<%=question._id%>"><%=question.title%></a></h4>
            <div>
                <% if (question.body.length > 169){%>
                    <h5><%=question.body.substring(0, 169) + "..."%></h5>
                <%} else { %>
                    <h5><%=question.body%></h5>
                <%}%>
                <div class="grid">
                    <% var name = question.course.name.replace(/\s+/g, '-').toLowerCase() %>
                    <a class="btn btn-primary btn-sm course" href="/courses/<%=name%>"><%=question.course.name%></a>
                    <% var date = new Date(question.date.getTime() - question.date.getTimezoneOffset() * 60000); %>
                    <% var month = date.getMonth() + 1; %>
                    <% var day = date.getDate(); %>
                    <% var year = date.getFullYear(); %>
                    <% var newDate = month + "/" + day + "/" + year; %>
                    <p class="rightAlign">Asked on <%=newDate%></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
<%})%>

<%-include("partials/footer")%>
